{#
/**
 * @file
 * Theme override to display a single page.
 * See cwd_base/page.html.twig for available variables and other info.
 *
 * @see template_preprocess_html()
 */
#}
<div id="main-content" class="band">
  <main id="main" class="container-fluid aria-target" tabindex="-1">

    <div class="row">
      {% if page.sidebar_primary -%}
        <div id="sidebar-top" class="secondary">
          {{ page.sidebar_primary }}
        </div>
      {% endif %}
      <article id="main-article" class="primary">

        {{ page.nav_breadcrumb }}

        {% if page.content_header -%}
          <header>
            {{ page.content_header }}
          </header>
        {% endif %}

        <section>

          {# Homepage: Spotlight/Featured content #}
          {% include "@cwd_cbb/partials/incl--home-fc.html.twig" %}

          {% if is_front -%}
            {{ page.content|without('cwd_cbb_content') }}
          {% else -%}
            {{ page.content }}
          {% endif %}

        </section>

        {% if page.content_footer -%}
          <footer>
            {{ page.content_footer }}
          </footer>
        {% endif %}

      </article>
      {% if page.sidebar_secondary -%}
        <div id="sidebar-bottom" class="secondary" role="complementary" aria-label="Sidebar">
          {{ page.sidebar_secondary }}
        </div>
      {% endif %}
    </div>

  </main>
</div>

{# Research highlights band #}
{% include "@cwd_cbb/partials/incl--res-band.html.twig" %}

{# Homepage: Partners map #}
{% include "@cwd_cbb/partials/incl--home-partners.html.twig" %}

{% if page.supplementary -%}
  <div class="band accent1 padded" role="complementary" aria-label="Supplementary Content">
    <div class="container-fluid">
      <div class="row">
        {{ page.supplementary }}
      </div>
    </div>
  </div>
{% endif %}
{% if page.supplementary2 -%}
  <div class="band padded" role="complementary" aria-label="Supplementary Content 2">
    <div class="container-fluid">
      <div class="row">
        {{ page.supplementary2 }}
      </div>
    </div>
  </div>
{% endif %}
