{% extends "node.html.twig" %}
{% block title -%}{% endblock %}

{% block content -%}
  {% set destination_url = url %}
  {%- if node.field_destination_url.value -%}
    {% set destination_url = node.field_destination_url.0.url %}
  {%- endif -%}

  {% set event_date_start = content.field_event_date.0['#text'] %}
  {% set has_end_date = false %}
  {% set event_date_end = '' %}
  {% if node.field_event_date_end.0.value -%}
    {% set has_end_date = true %}
    {% set event_date_end = content.field_event_date_end.0['#text'] %}
  {%- endif %}
  {# TO DO: redo event time string in .theme file, like you know you're dying to #}
  {% set event_time_string = event_date_start|date('g:ia') %}
  {% if has_end_date -%}
    {% set event_time_string = event_time_string ~ ' - ' ~ event_date_end|date('g:ia') %}
  {%- endif %}

  <div class="group-image">
    <a href="{{ destination_url }}">
      {% include "@cwd_cbb/partials/incl--default-image.html.twig" with {
        'default_image_src': '/themes/custom/cwd_cbb/images/cbb/cbb_knot480.jpg',
      } %}
      {% include "@cwd_cbb/partials/incl--title.html.twig" %}
      <time title="{{ event_date_start|date( 'F jS') }}, {{ event_time_string }}" datetime='{{ event_date_start }}'>
        <span class="month">{{ event_date_start|date('M') }}</span>
        <span class="day">{{ event_date_start|date('d') }}</span>
      </time>
    </a>
  </div>
  <div class="group-fields">
    <div class="field location">
      <span class="event-time">{{ event_time_string }}</span>
      {%- if node.field_location.0 -%},
        <span class="event-location">{{ node.field_location.value }}</span>
      {%- endif %}
    </div>

    {# "view" filter defaults to "default" view mode (not because this is the default view mode -- that's how twig_tweak works, the default view mode is always "default")
    https://www.drupal.org/docs/contributed-modules/twig-tweak/cheat-sheet#s-view-filter
    TO DO: add this note to internal documentation somewhere?!?!
    TO DO: specify the view mode, instead of using the default, b/c it's confusing not to, right? #}
    {{ node.body|view }}

    {{ content.field_related_links }}

  {# <ol>
    {% for key, value in starttime %}
      <li>{{ key }}</li>
    {% endfor %}
  </ol>
  {{starttime}} #}

  </div>

{% endblock %}
