{% extends "node.html.twig" %}
{% block content %}

<div class="cwd-basic cwd-events full">

  {% include "@cwd_cbb/partials/incl--article-image.html.twig" %}

  {% set event_date_start = content.field_event_date.0['#text'] %}
  {% set has_end_date = false %}
  {% set event_date_end = '' %}
  {% if node.field_event_date_end.0.value -%}
    {% set has_end_date = true %}
    {% set event_date_end = content.field_event_date_end.0['#text'] %}
  {%- endif %}
  {% set event_time_string = event_date_start|date('g:ia') %}
  {% if has_end_date -%}
    {% set event_time_string = event_time_string ~ ' - ' ~ event_date_end|date('g:ia') %}
  {%- endif %}

  {{ content.field_event_date.0['#text']|date( 'D, m/d/Y') -}}, {{ event_time_string }}

  {% if node.field_destination_url.value -%}
  <div class="field-destination high-margin">
    <p><strong class="tutorial note">Note:</strong> The info for this event is on another page. <a href="{{ node.field_destination_url.0.url }}">View the info for this event</a>.</p>
  </div>
  {% endif %}

  {{ node.body|view('full') }}

  {{ content|without('field_image','body','field_destination_url', 'field_event_date', 'field_event_date_end')}}

</div>
{% endblock %}
